html,
body,
.page-wrapper {
  height: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #111;
  margin: 0;
  padding: 0;
}
@media (min-width: 480px) {
  body {
    font-size: 16px;
  }
}
.page-wrapper {
  position: relative;
}
.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
.page-footer {
  color: #666;
  bottom: 0;
  width: 100%;
  padding: 2em 0;
  position: absolute;
  text-align: center;
}
.page-footer a {
  color: #111;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.hero {
  box-sizing: border-box;
  font-size: 3.6em;
  height: 1em;
  left: 0;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1em;
  padding-left: 1em;
  padding-right: 1em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
